<div class="error-401">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="error-top-wrapper">
                    <div class="error-top-item">
                        <img src="assets/img/3.png" class="img-responsive" alt="404">
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="error-bottom-wrapper">
                    <h2>OOPS!</h2>
                    <p>Page Not Found .That Page Doesn't Exist!</p>
                    <a href="../index.html" class="error-btn-2">Go Home</a>
                </div>
            </div>

        </div>
    </div>
</div>