 
 .search-form-opened{
    width: 100%;
    max-width: 200px;
    background-color: transparent;
    color: #fff;
    border-radius: 30px;
    margin: 10px 0 0 10px;
    border: 1px solid #bdbdbd;
    position: relative;
    float: left;
 }

 .top-search{
    background-color: transparent;
    border: 0;
    color: #1E2629;
    padding: 7px 12px;
 }

 .user-menu a{
     position: relative;
     float: left
 }