.dbox {
    padding: 0px;
    border-top: 4px solid #8CDDCD;
    margin-top: 10px;
}

.dbox-header mat-card-title {
    margin-bottom: 0;
    color: #757575;
    font-weight: 600;
    text-transform: uppercase;
}

.dbox-header {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 10px;
}

.dbox mat-card-content {
    padding: 6px;
}

chart{
    display: block;
    margin: 0 auto;
    width: 100% !important;
}